{% extends 'main.html' %}

{% block content %}

    <div class="image-header">
        {% load static %}
        <img width="1450px" height="580px" src="{% static 'images/Flash_S1.webp' %}">
        <div class="block">
            <img width="80%" src="{% static 'images/logo-flash.png' %}">
            <h4>TEM QUE ASSITIR</h4>
            <P>Universos vão colidir. E o homem mais rápido não tem para onde correr.</P>
        </div>

        
        <div class="img-btn">
            <button class="play">
                <img width="40px" height="35px" src="{% static 'images/play-button.png' %}">
            </button>
            <button class="about01">
                <span>SAIBA MAIS</span>
            </button>
        </div>
    </div>

    <div class="buttons">
        <button class="button1">Destacados</button>
        <button class="button2">Adicionados Recentemente</button>
        <button class="button3">A-z</button>
        <button class="button4">Popular</button>
        <button class="button5">Originals</button>
        <button class="button6">ação</button>
        <button class="button7">Policial</button>
        <button class="button8">Comédia</button>
        <button class="button9">Documentários</button>
        <button class="button10">Drama</button>
    </div>
    
    <div class="cartaz">
        <h3>Cancele seus planos, é noite de filme</h3>

        <div class="capa">
            <img width="210" height="350" src="{% static 'images/05-filme.png' %}">
            <img width="210" height="350" src="{% static 'images/aranha3.png' %}">
            <img width="210" height="350" src="{% static 'images/astroboy.png' %}">
            <img width="210" height="350" src="{% static 'images/avengers.png' %}">
            <img width="210" height="350" src="{% static 'images/Marvel.png' %}">
            <img width="210" height="350" src="{% static 'images/Spide-Man.png' %}">
        </div>
    </div>

    <div class="cartaz02">
        <h3>Acabaram de chegar</h3>

        <div class="capa">
            <img width="270" height="400" src="{% static 'images/jumanji.png' %}">
            <img width="270" height="400" src="{% static 'images/um.png' %}">
            <img width="270" height="400" src="{% static 'images/up.png' %}">
            <img width="270" height="400" src="{% static 'images/Shrek2.png' %}">
            <!--
            <img width="210" height="350" src="{% static 'images/formiga.png' %}">
            <img width="210" height="350" src="{% static 'images/20150812.png' %}"> 
            --> 
        </div>
    </div>

    <div class="cartaz03">
        <h3 >Uma noite de cinema para todos</h3>
        <p>Aventuras escolhidas a dedo para todo mundo curtir!</p>

        <div class="capa">
            <img width="210" height="350" src="{% static 'images/05-filme.png' %}">
            <img width="210" height="350" src="{% static 'images/aranha3.png' %}">
            <img width="210" height="350" src="{% static 'images/astroboy.png' %}">
            <img width="210" height="350" src="{% static 'images/avengers.png' %}">
            <img width="210" height="350" src="{% static 'images/Marvel.png' %}">
            <img width="210" height="350" src="{% static 'images/Spide-Man.png' %}">
        </div>
    </div>

    <div class="cartaz04">
        <div>
            <h4><strong>HBO </strong>CHEF JACK - O COZINHEIRO AVENTUREIRO</h4>
            <h2><strong>Ele quer ser o número 1 e para isso vai ter que enfrentar os melhores.</strong></h2>
            <p>Uma competição de Sabores</p>

            <div class="btn-play-about">
                <button class="btn-play">
                    <img width="45px" height="40px" src="{% static 'images/play-button.png' %}">
                </button>
                <button class="about">
                    <span>SAIBA MAIS</span>
                </button>
            </div>
        </div>


        <div class="capa">
            <img width="600" height="350" src="{% static 'images/Ratatouille.png' %}">
        </div>
    </div>

    <div class="cartaz05">
        <h3 >Jovens Estrelas de Hollywood</h3>

        <div class="capa">
            <img width="210" height="350" src="{% static 'images/05-filme.png' %}">
            <img width="210" height="350" src="{% static 'images/aranha3.png' %}">
            <img width="210" height="350" src="{% static 'images/astroboy.png' %}">
            <img width="210" height="350" src="{% static 'images/avengers.png' %}">
            <img width="210" height="350" src="{% static 'images/Marvel.png' %}">
            <img width="210" height="350" src="{% static 'images/Spide-Man.png' %}">
        </div>
    </div>
{% endblock %}