@import url('https://fonts.googleapis.com/css2?family=Cantarell:wght@400;700&family=Oxygen:wght@300;400&family=Quicksand:wght@400;500&family=Roboto:wght@300;400;500;700;900&family=Ubuntu:wght@300;400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    color: #fff;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100%;
    width: 100%;
    background: url(/static/images/body.png);
    backdrop-filter: blur(20px);
}

.navbar {
    top: 0;
    width: 100%;
    height: 80px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(15, 15, 15, 0.98);
    font-size: 18px;
    background-color: transparent;
    transition: background-color 0.3s ease;
    opacity: 0.9;
}



.navbar span > a{
    margin-left: 12px;
    margin-right: 20px;
}

.navbar .image-1 {
    height: 20px;
    cursor: pointer;
}

.menu {
    margin-left: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu label {
    width: 6rem;
    cursor: pointer;
}

.image-header {
    display: flex;
    box-sizing: border-box;
    z-index: 1;
    background-position: top;
    height: 20%;
}

.buttons {
    margin-top: 1%;
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    background-image: linear linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.992) 6.67%, rgba(0, 0, 0, 0.965) 13.33%, rgba(0, 0, 0, 0.918) 20%, rgba(0, 0, 0, 0.85) 26.67%, rgba(0, 0, 0, 0.77) 33.33%,
    rgba(0, 0, 0, 0.667) 40%, rgba(0, 0, 0, 0.557) 46.67%, rgba(0, 0, 0, 0.443) 53.33%, rgba(0, 0, 0, 0.333) 60%, rgba(0, 0, 0, 0.23) 66.67%, rgba(0, 0, 0, 0.15) 73.33%, rgba(0, 0, 0, 0.082) 80%, rgba(0, 0, 0, 0.035) 86.67%, rgba(0, 0, 0, 0.008) 93.33%,
    rgba(0, 0, 0, 0) 100%);
}

.buttons button {
    background-color: black;
    border: 2px solid rgb(36, 36, 54);
    height:30px;
    width: 120px;
    cursor: pointer;
    border-radius: 20px;
    font-weight:700;
}

.buttons .button1 {
    background-color: #fff;
    color: black;
}

.buttons button:hover {
    border-color: rgb(90, 2, 90);
}

.buttons .button2 {
    width: 200px;
}
.buttons .button9 {
    width: 160px;
}

.cartaz {
    height: 30%;
    margin-left: 25px;
}

.cartaz h3 {
    margin-top: 2%;
    margin-bottom: 1%;
}
.capa img {
    margin-right: 5px;
    cursor: pointer;
}

.capa img:hover {
    border: 3px solid;
    border-color: rgb(90, 2, 90);
    border-radius: 5px;
}

.cartaz02 {
    height: 30%;
    margin-top: 3%;
    margin-left: 2%;
}

.cartaz02 h3 {
    margin-bottom: 2%;
}


.cartaz03 {
    height: 30%;
    margin-top: 3%;
    margin-left: 2%;
}

.cartaz03 h3 {
    margin-bottom: 8px;
}

.cartaz03 p {
    margin-bottom: 15px;
}

.cartaz04 {
    display: flex;
    margin-top: 5%;
    width: 1200px;
    margin-left: 40px;
}

.cartaz04 .capa {
    margin-left: 10%;
}

.cartaz04 .capa p {
    margin-top: 15px;
}

.btn-play-about {
    display: flex;
}

.btn-play {
    padding: 8px;
    cursor: pointer;
    margin-top: 30%;
    background-color: rgb(15, 15, 15);
    border: 1px solid #fff;
    border-radius: 50%;
    object-fit: cover;
}

.btn-play:hover {
    background-color: black;
    border: 3px solid rgb(90, 2, 90);
}


.about {
    margin-top: 31%;
    margin-left: 20px;
    height: 50px;
    width: 150px;
    vertical-align: middle;
    background-color: rgb(39, 38, 38);
    border-radius: 5px;
    font-weight: 900;
    border: none;
    cursor: pointer;
}

.about:hover {
    background-color: black;
    border: 3px solid rgb(90, 2, 90);
}

.cartaz05 {
    margin-top: 5%;
    margin-left: 20px;
}

.cartaz05 h3 {
    margin-bottom: 20px;
}

.block {
    display: block;
    position: absolute;
    top: 8%;
    left: 5%;
    font-family: 'Oxygen', sans-serif;
}

.img-btn {
    position: absolute; 
    top: 15%;
    left: 5%;
}

.img-btn {
    display: flex;
}

.play {
    background-color: rgb(15, 15, 15);
    border: 1px solid #fff;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    padding: 10px;
}

.play:hover {
    background-color: black;
    border: 3px solid rgb(90, 2, 90);
}

.about01 {
    height: 50px;
    width: 170px;
    font-weight: 900;
    vertical-align: middle;
    background-color: rgb(39, 38, 38);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-left: 10%;
    margin-top: 1%;
}

.about01:hover {
    background-color: black;
    border: 3px solid rgb(90, 2, 90);
}